:root{
    --main-bg-color: rgb(112, 111, 111);
}
*, ::after, ::before, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica;
    font-size: 14px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img{
    height: auto;
    width: clamp(8em,10vw,10em);
    border-radius: 10px;
    border: 4px solid var(--main-bg-color);
}
.player{
    background-color: var(--main-bg-color);
    height: max(13%, 8em);
    position: relative;
    padding: 0 2rem;
}
.you img{
    transform: scaleX(-1);
}

p{
    font-size: 1.8vw;
    font-weight: 500;
}


@media screen and (max-width: 1050px) {
    p{
       font-size: 2.5em;
    }
    .player{
        height: 18%;
    }
}
@media screen and (max-width: 450px) {
    p{
       font-size: 1.5em;
    }
    .player{
        height: 9.5%;
    }
}


@media screen and (max-width: 380px) {
    p{
       font-size: 1.5em;
    }
    .player{
        height: 14%;
    }
}

.namePoints{
    margin-left: 1.5rem;
}
p{
    font-weight: 600;
}
.perfil{
    display: flex;
    position: relative;
}
.imagePerfil img{
    min-width: 6.5em;
}
.computer .perfil{
    text-align: right;
    flex-direction: row-reverse;
    margin-top: 1rem;
}
.computer .imagePerfil{
    margin-left: .4rem;
}

.you .perfil{
    position: absolute;
    bottom: 0;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.you .imagePerfil{
    margin-right: .5rem;
}

.continue{
    visibility:hidden;
}
.show{
    visibility: visible;
    position: absolute;
    top: 50%;
    bottom: 0%;
    right: 0;
    margin-right: 2rem;
    padding: .5rem 2.5rem .5rem .5rem;
    cursor: pointer;
}

.show:hover > p{
    color: rgb(194, 175, 175);
}

.game{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Turn{
    flex: 1;
}
.Cards{
    display: flex;
    align-items: center;
}
.CComputer{
    margin-top: 1.5rem;
}
.CComputer img{
    transform: scaleY(-1);
    position: relative;
    height: auto;
    width: clamp(4em,8vw,8em);
    min-width: 3em;
    z-index: -1;
}

.CPlayer{
    margin-bottom: -1.8rem;
}
.Cards >*:not(:first-child){
    margin-left: 1rem;
}

.CPlayer > div:hover > img{
    cursor: pointer;
    border: 3px solid rgb(34, 48, 172);
    border-radius: 10px;
    transition: transform .20s ease-in-out;
    transform: translateY(-40px);
}
.isSelected{
    border: 2px solid red;
}